.athree-items {
    z-index: 1;
}

.athree-item {
    position: relative;
    z-index: 0;
}

.athree-item::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1);
}

/* 1-(-1) */
.athree-item:not(:first-of-type) {
    transition-delay: calc((var(--direction) * var(--max-trans)) + (var(--delay) * (1 - (var(--direction) * 2))));
    transition-duration: var(--duration);
}

.athree-item:not(:first-of-type) > *:first-child {
    transition: inherit;
    transition-duration: inherit;
    transition-delay: inherit;
    transform: scaleX(0) scaleY(0);
    transform-origin: center left;
    opacity: 0;
}

.athree-root {
    z-index: 0;
    position: relative;
    --direction: 1;
    --max-trans: 0;
    --duration: 0;
    --delay: 0;
    --size: 0;
    --offset: 0;
}

.athree-arrow {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.athree-path {
    position: relative;
    z-index: 0;
    transition: none;
    opacity: 0;
    transition-delay: calc((var(--direction) * var(--max-trans)) + (var(--delay) * (1 - (var(--direction) * 2))));
    transition-duration: var(--duration);
    stroke-dasharray: var(--size);
    stroke-dashoffset: var(--offset);
    transition-property: all;
    transition-timing-function: ease-out;
}

.athree-visible {
    --direction: 0;
}

.athree-visible > .athree-arrow > .athree-path {
    stroke-dashoffset: 0 !important;
    opacity: 1;
}

.athree-visible > .athree-items > .athree-item > *:first-child {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
}